<!DOCTYPE html>
<html>
<head>
  <title>Send Anonymous Message to <%= username %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="center-box">
    <img src="<%= pfp %>" class="pfp">
    <h2>Send a message to <%= username %></h2>
    <p class="bio"><%= bio %></p>
    <form method="POST">
      <textarea name="message" placeholder="Write your anonymous message..." required></textarea>
      <button class="btn">Send</button>
    </form>
  </div>
</body>
</html>
